
@{
    ViewData["Title"] = "TimKiem";
}

<h1>Tìm kiếm</h1>
<fieldset>
    Theo tên: <input id="Keyword" placeholder="Nhập tên" />
    <br />
    Giá từ: <input type="number" id="FromPrice" />
    đến: <input type="number" id="ToPrice" />
    <button type="button" id="Search">Tìm</button>
</fieldset>

<fieldset>
    <legend>Kết quả tìm kiếm</legend>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tên hàng hóa</th>
                <th>Giá</th>
                <th>Loại</th>
            </tr>
        </thead>
        <tbody id="result"></tbody>
    </table>
</fieldset>
@section Scripts{
    <script>
        $(function () {
            $("#Search").click(function () {
                $.ajax({
                    url: "/Ajax/HandleSearch",
                    type: "POST",
                    data: {
                        keyword: $("#Keyword").val(),
                        from: $("#FromPrice").val(),
                        to: $("#ToPrice").val()
                    },
                    success: function (response) {
                        $("#result").html("");
                        $(response).each(function (idx, item) {
                            let row = $("<tr/>");
                            $("<td/>").html(item.hangHoa).appendTo(row);
                            $("<td/>").html(item.giaBan).appendTo(row);
                            $("<td/>").html(item.loai).appendTo(row);
                            row.appendTo($("#result"));
                            //$("#result").append(row);
                        });
                    },
                    error: function (err) {
                        console.log(err)
                    }
                });
            });
        });
    </script>
}
