@model IEnumerable<Category>
@*Views/Shared/Components/CategoryMenu/Default.cshtml*@
<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a asp-controller="Product"
               asp-route-id="@item.Id">
                @item.Name
            </a>
        </li>
    }
</ul>