@using Microsoft.AspNetCore.Http;
@using Buoi17_EFCore_DbFirst.Entities;

<div>
    <div>MySTring: @Context.Session.GetString("MyString")</div>
    <div>MyInt: @Context.Session.GetInt32("MyInt")</div>
    @{ 
        var loai = Context.Session.Get<Loai>("MyBeer");
    }
    <div>@loai?.MaLoai - @loai?.TenLoai </div>
</div>